<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings >

    <add name="DBHS_ConnectionString" connectionString="Data Source=192.168.1.151;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBRE_ConnectionString" connectionString="Data Source=192.168.1.151;Initial Catalog=HS54;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBRT_ConnectionString" connectionString="Data Source=192.168.1.151;Initial Catalog=retail;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBPY_ConnectionString" connectionString="Data Source=192.168.1.151;Initial Catalog=HSPY;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBPK_ConnectionString" connectionString="Data Source=192.168.1.151;Initial Catalog=HSPK;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBSW_ConnectionString" connectionString="Data Source=192.168.1.151;Initial Catalog=HSSW;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBNR_ConnectionString" connectionString="Data Source=192.168.1.151;Initial Catalog=HSNR;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    <add name="DBHR_ConnectionString" connectionString="Data Source=192.168.1.4;Initial Catalog=HS_HRmanagement;Persist Security Info=True;User ID=sa;Password=Home444shop" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>